.my-track {
	display: block;
	background: #ccc;
	border-radius: 3px;
	overflow: hidden;
	font: 700 12px/1 sans-serif;
}

.my-track [value] {
	background: #16f;
	color: #fff;
	padding: 3px 6px;
	transition: 1s;
}

.my-radial {
	color: #16f;
	stroke: #ccc;
	transition: stroke-dashoffset 1s;
}
