.nrk-input {
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font: inherit;
  background: #fff;
  color: #26292a;
  margin: 0;
  padding: 0 .4em;
  border: 1px solid #c8c8c8;
  border-radius: 3px;
  line-height: 2em;
  height: 2em;
}

/* .core-input ul {
  list-style: none;
  position: absolute;
  overflow: hidden;
  z-index: 2;
  margin: 0;
  padding: 0;
  color: #333;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 5px 15px rgba(0,0,0,.3);
  animation: core-input .2s forwards;
}
.core-input li { padding: 5px 7px; box-shadow: 0 1px #eee }
.core-input li[aria-selected="true"],
.core-input li:hover { background:#c8c8c8 }
@keyframes core-input{
  from { opacity: 0; transform: translateY(2px) }
} */
