html{font:110%/1.5 'LFT Etica',sans-serif;background:#fcfcfc;color:#26292a}strong,b{font-weight:600}
.prettyprint.prettyprint { overflow: auto; border: 0; padding: 4px 6px; font-size: 14px; font-weight: 400; text-transform: none; background: #f6f6f6 }
.docs-menu { list-style: none; margin: 0; padding: 20px; font-size: 14px; line-height: 2 }
.docs-menu a { display: block; text-decoration: none; opacity: .7; transition: .2s }
.docs-menu a:hover, .docs-menu a:focus, .docs-menu a.is-active { font-weight: 700; opacity: 1 }
.docs-page h2:not(:first-child) { margin-top: 3rem; padding-top: 3rem; border-top: 1px solid #ddd }
.docs-page h3 { font-size: 12px; letter-spacing: .05em; text-transform: uppercase; margin: 2em 0 -1em }
.docs-page p, .docs-page li { max-width: 700px; -webkit-font-smoothing: antialiased }.docs-page { padding: 4% }
.docs-page summary { font-size: 15px }.docs-page summary h3 { display: inline-block; margin: 0 }
.docs-page details[open] { padding-left: 15px }.docs-page details[open] summary { margin-left: -15px }
.docs-support > * { margin: 1em 1px; min-width: 80px; padding: 1em; font-size: 13px; text-align: center }

/* Toggle */
.docs-style input.docs-button { font-size: 16px; background: #fff }
.docs-style .docs-button { background: none; font: inherit; font-size: 14px; padding: 8px 16px; border: 1px solid #ccc; margin: 2px 0 }
.docs-style .docs-toggle { box-sizing: border-box; width: 100%; text-align: left }
.docs-style .docs-toggle::before { content: '\A0'; float: left; margin: 0 5px 0 -5px; width: 20px; transition: .3s; background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15 15'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' d='M1.5 7.5h12m-6-6v12'%3E%3C/path%3E%3C/svg%3E") 50%/15px no-repeat }
.docs-style .docs-toggle[aria-expanded="true"]::before { -webkit-transform: rotate(45deg); transform: rotate(45deg) }
.docs-style .docs-toggle + * { padding: 15px; margin: -3px 0 1em; border: 1px solid #ccc; transition: .2s }
.docs-style .docs-toggle + *[hidden] { display: block; overflow: hidden; visibility: hidden; opacity: 0; height: 0; margin-bottom: 0; padding-top: 0; padding-bottom: 0 }
.docs-style .docs-dropdown::before { content: '\A0'; float: right; margin: 0 -5px 0 5px; width: 20px; transition: .3s; background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15 15'%3E%3Cpath stroke='%23000' fill='none' stroke-linecap='round' d='M1.5 5l6 6 6-6'%3E%3C/path%3E%3C/svg%3E") 50%/15px no-repeat }
.docs-style .docs-dropdown:not(.docs-tip)[aria-expanded="true"]::before { -webkit-transform: rotate(180deg); transform: rotate(180deg) }
.docs-style .docs-drop { position: absolute; z-index: 3; list-style: none; margin: 0; padding: 0; min-width: 200px; background: #fff; box-shadow: 0 5px 15px rgba(0,0,0,.3); transition: .3s }
.docs-style .docs-drop::after { content: ''; position: absolute; bottom: -30px; border: 2px solid transparent} /* Scroll past dropdowns */
.docs-style .docs-drop[hidden] { display: block; visibility: hidden; opacity: 0; transform: translateY(-5px) }
.docs-style .docs-drop a,.docs-style .docs-drop button { box-sizing: border-box; display: block; width: 100%; border: 0; padding: 7px 14px; margin: 0; font: inherit; color: inherit; background: none; text-decoration: none; text-align: left }
.docs-style .docs-drop a[hidden], .docs-style .docs-drop button[hidden] { display: none }
.docs-style .docs-drop [data-highlight] { background: #ccc }
.docs-style .docs-tip::before { content: '?'; float: left; margin: -4px 9px 0 -9px; width: 20px; height: 20px; line-height: 22px; border: 1px solid #666; border-radius: 100%; background: none }
.docs-style .docs-tip { font-size: 13px; border: 0 }

@media(min-width:720px){
  .docs-page .nrk-grid > .nrk-xs-12of12 { padding-right: 2em }
  .docs-menu { position: fixed; width: 160px; height: 100vh; padding-top: 90px }
  .docs-page { margin-left: 200px }
}
