core-dialog:not([hidden]) {
  display: block;
  position: relative;
}

body {
  height: 100vh;
  width: 100vw;
}

backdrop:not([hidden]), .my-backdrop:not([hidden]) {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .1);
}
