@import url('https://static.nrk.no/core-fonts/latest/core-fonts.min.css');
@import url('https://static.nrk.no/core-css/latest/core-css.min.css');

/* Exmaple styling */
html { font: 100%/1.7 'LFT Etica', sans-serif } body { padding: 25px }
.my-dropdown { position: absolute; z-index: 3; list-style: none; margin-top: 0; padding: 0; min-width: 200px; background: #fff; box-shadow: 0 3px 6px rgba(0,0,0,.3); transition: .3s }
.my-dropdown a:not([hidden]), .my-dropdown button:not([hidden]) { box-sizing: border-box; display: block; width: 100%; border: 0; padding: 7px 14px; font: inherit; background: none; text-decoration: none; text-align: left }
.my-dropdown[hidden] { display: block; visibility: hidden; opacity: 0; transform: translateY(-5px) }
/* TODO Make toggle styling */

/* Documentation styling */
.i-page { font: inherit; padding: 0 }
.i-page h1 { font-size: 2.5rem }
.i-page h2 { font-weight: 600; font-size: 12px; letter-spacing: .05em; text-transform: uppercase }
.i-page h2 em { font-weight: 300; font-size: 15px; letter-spacing: normal; text-transform: none }
.i-page strong, .i-page b { font-weight: 600; -webkit-font-smoothing: subpixel-antialiased }
.i-page code { color: inherit; -webkit-font-smoothing: subpixel-antialiased }

.i-library { margin-bottom: 1px }
.i-library h1 { position: sticky; top: 0; z-index: 9; padding: 15px; margin: 0 -15px; background: #fff }
.i-library details pre { margin: 1em 0; padding: 1em 1.5em; font-size: 13px; background: #f7f7f7 }
.i-library details[open], .i-library details[open] summary { margin-bottom: 15px }
.i-library details summary { margin-left: -15px; font-size: 15px }
.i-library details { padding-left: 15px }
.i-library blockquote { font-size: 1.2em }
.i-library p { max-width: 770px }
.i-library a { color: #0059b3 }
.i-library .nrk-button { color: inherit; text-decoration: none }

.i-section, .i-example__body { padding: 0 }
.i-sidebar-list-item b { font-weight: 600; font-size: 12px; letter-spacing: .05em; text-transform: uppercase }
.i-sidebar-title { padding-top: 30px; max-width: 200px; font: 800 20px/1 'LFT Etica',sans-serif!important; text-transform: uppercase }
.i-sidebar-title img, .tooltip { display: none }
.i-search-input input { border: 0 }
